{% load static %}
<!-- Header -->
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand d-flex align-items-center" href="{% url 'home' %}">
        <img src="{% static 'images/logo.jpg' %}" alt="" width="50" height="50" class="d-inline-block align-text-top me-2">
        AviaBlog
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item {% if request.path == '/' %}active{% endif %}">
            <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item {% if request.path == '/passengers/' %}active{% endif %}">
            <a class="nav-link" href="{% url 'passengers' %}">Passengers</a>
          </li>

          {% if user.is_authenticated %}
          <li class="nav-item {% if request.path == '/add_flight/' %}active{% endif %}">
            <a class="nav-link btn btn-danger" href="{% url 'add_flight' %}">Add Flight</a>
          </li>
          {% endif %}

        </ul>
      </div>

      <div class="d-flex align-items-center">
        <form class="d-flex me-3">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>

        {% if user.is_authenticated %}
        <div class="user-info btn btn-outline-light me-2 p-2 rounded d-flex align-items-center">
          <p class="username text-white m-0 me-2">{{ user.username }}</p>
          <a href="{% url 'logout' %}"><button class="logout-btn text-white">Log out</button></a>
        </div>
        {% else %}
        <a href="{% url 'login' %}">
          <button class="btn btn-outline-light me-2">Log in</button>
        </a>
        <a href="{% url 'register' %}">
          <button class="btn btn-primary">Sign up</button>
        </a>
        {% endif %}
      </div>
    </div>
  </nav>
</header>