<form method="post" action="{% url 'add_flight' %}" enctype="multipart/form-data">-->
<!--            {% csrf_token %}-->
<!--            <div class="border p-3 mb-3">-->
<!--                <div class="form-group row mb-3">-->
<!--                    <label class="col-sm-3 col-form-label" for="{{ form.flight_number.id_for_label }}">Номер рейса</label>-->
<!--                    <div class="col-sm-9">-->
<!--                        {{ form.flight_number }}-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="form-group row mb-3">-->
<!--                    <label class="col-sm-3 col-form-label" for="{{ form.date.id_for_label }}">Дата полета</label>-->
<!--                    <div class="col-sm-9">-->
<!--                        {{ form.date }}-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="form-group row mb-3">-->
<!--                    <label class="col-sm-3 col-form-label" for="{{ form.flight_time.id_for_label }}">Время полета</label>-->
<!--                    <div class="col-sm-9">-->
<!--                        {{ form.flight_time }}-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="border p-3 mb-3">-->
<!--                <div class="form-group row mb-3">-->
<!--                    <label class="col-sm-3 col-form-label" for="{{ form.name.id_for_label }}">Название авиакомпании</label>-->
<!--                    <div class="col-sm-9">-->
<!--                        <input type="text" class="form-control" id="{{ form.name.id_for_label }}" list="airline_choices" name="{{ form.name.html_name }}">-->
<!--                        <datalist id="airline_choices">-->
<!--                            {% for choice in form.name.field.widget.choices %}-->
<!--                            <option value="{{ choice.0 }}">{{ choice.0 }}</option>-->
<!--                            {% endfor %}-->
<!--                        </datalist>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="form-group row mb-3">-->
<!--                    <label class="col-sm-3 col-form-label" for="{{ form.manufacturer.id_for_label }}">Производитель</label>-->
<!--                    <div class="col-sm-9">-->
<!--                        <input type="text" class="form-control" id="{{ form.manufacturer.id_for_label }}" list="manufacturer_choices" name="{{ form.manufacturer.html_name }}">-->
<!--                        <datalist id="manufacturer_choices">-->
<!--                            {% for choice in form.manufacturer.field.widget.choices %}-->
<!--                            <option value="{{ choice.0 }}">{{ choice.0 }}</option>-->
<!--                            {% endfor %}-->
<!--                        </datalist>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="form-group row mb-3">-->
<!--                    <label class="col-sm-3 col-form-label" for="{{ form.generic_type.id_for_label }}">Тип ВС</label>-->
<!--                    <div class="col-sm-9">-->
<!--                        <input type="text" class="form-control" id="{{ form.generic_type.id_for_label }}" list="generic_type_choices" name="{{ form.generic_type.html_name }}">-->
<!--                        <datalist id="generic_type_choices">-->
<!--                            {% for choice in form.generic_type.field.widget.choices %}-->
<!--                            <option value="{{ choice.0 }}">{{ choice.0 }}</option>-->
<!--                            {% endfor %}-->
<!--                        </datalist>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="form-group row mb-3">-->
<!--                    <label class="col-sm-3 col-form-label" for="{{ form.serial_number.id_for_label }}">Серийный номер</label>-->
<!--                    <div class="col-sm-9">-->
<!--                        {{ form.serial_number }}-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="form-group row mb-3">-->
<!--                    <label class="col-sm-3 col-form-label" for="{{ form.registration_number.id_for_label }}">Регистрационный номер</label>-->
<!--                    <div class="col-sm-9">-->
<!--                        {{ form.registration_number }}-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="form-group row mb-3">-->
<!--                    <label class="col-sm-3 col-form-label" for="{{ form.photo.id_for_label }}">Фото ВС</label>-->
<!--                    <div class="col-sm-9">-->
<!--                        {{ form.photo }}-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <button type="submit" class="btn btn-primary">Сохранить</button>-->
<!--        </form>-->
<form method="post" action="{% url 'add_flight' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="border p-3 mb-3">
        <div class="form-group row mb-3">
            <label class="col-sm-3 col-form-label" for="{{ form.flight_number.id_for_label }}">Номер рейса</label>
            <div class="col-sm-9">
                {{ form.flight_number }}
            </div>
        </div>
        <div class="form-group row mb-3">
            <label class="col-sm-3 col-form-label" for="{{ form.date.id_for_label }}">Дата полета</label>
            <div class="col-sm-9">
                {{ form.date }}
            </div>
        </div>
        <div class="form-group row mb-3">
            <label class="col-sm-3 col-form-label" for="{{ form.flight_time.id_for_label }}">Время полета</label>
            <div class="col-sm-9">
                {{ form.flight_time }}
            </div>
        </div>
    </div>

    <div class="border p-3 mb-3">
        <div class="form-group row mb-3">
            <label class="col-sm-3 col-form-label" for="{{ form.name.id_for_label }}">Название авиакомпании</label>
            <div class="col-sm-9">
                {{ form.name }}
            </div>
        </div>
        <div class="form-group row mb-3">
            <label class="col-sm-3 col-form-label" for="{{ form.manufacturer.id_for_label }}">Производитель</label>
            <div class="col-sm-9">
                {{ form.manufacturer }}
            </div>
        </div>
        <div class="form-group row mb-3">
            <label class="col-sm-3 col-form-label" for="{{ form.generic_type.id_for_label }}">Тип ВС</label>
            <div class="col-sm-9">
                {{ form.generic_type }}
            </div>
        </div>
        <div class="form-group row mb-3">
            <label class="col-sm-3 col-form-label" for="{{ form.serial_number.id_for_label }}">Серийный номер</label>
            <div class="col-sm-9">
                {{ form.serial_number }}
            </div>
        </div>
        <div class="form-group row mb-3">
            <label class="col-sm-3 col-form-label" for="{{ form.registration_number.id_for_label }}">Регистрационный номер</label>
            <div class="col-sm-9">
                {{ form.registration_number }}
            </div>
        </div>
        <div class="form-group row mb-3">
            <label class="col-sm-3 col-form-label" for="{{ form.photo.id_for_label }}">Фото ВС</label>
            <div class="col-sm-9">
                {{ form.photo }}
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>